@import "bootstrap";

.list-body {
  width: 100%;
  max-height: 100%;
  overflow: visible auto;
}

.hide-scroll {
  scrollbar-width: none; // hide scrollbar in firefox
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.action-name {
  overflow: auto visible;
}

.category {
  color: var(--text-color);
  font-size:20px;
  font-family: monospace;
  display: flex;
  align-items: center;
  overflow: auto hidden;
  cursor: pointer;
}
.category > div {
  margin-right: 5px;
  display: flex;
  justify-content: center;
}

.category:hover > div > mat-icon {
  background-color: var(--background-color-2);
  border-radius: 15px;
}

.list-item {
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > button {
  box-shadow: -10px 0 5px var(--background-color-primary);
  z-index: 2;
}

.dropdown-menu {
  --bs-dropdown-color: var(--text-color);
  --bs-dropdown-bg: var(--bs-body-bg);
}

.dd-item{
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  text-wrap: nowrap;
}

:host ::ng-deep mjx-mtext>mjx-c {
  width: 1ch;
  font-family: monospace;
}

:host ::ng-deep mjx-container {
  font-size: 100%!important;
}

:host ::ng-deep mjx-mtext>mjx-c::before {
  font-size: inherit !important;
  padding: 0;
}

:host ::ng-deep mjx-tool{
  bottom: -0.7em !important;
  left: 0.2em !important;
}
