<div [id]="mode+'-list'" class="list-body" *ngIf="mode">
  <div *ngFor="let category of categories">
    <div (click)="openCategory(category.id)" class="category">
      <mat-icon>{{openCategories.get(category.id) ? "expand_more" : "chevron_right"}}</mat-icon>
      <div>{{category.name}}</div>
    </div>
    <div *ngIf="openCategories.get(category.id)">
      <ng-container *ngIf="mode=='interaction'">
        <div *ngFor="let action of actionsByCategory.get(category.id)" class="list-item-intercation">
          <div class="text-nowrap" [title]="action.description ? action.description : ''">{{action.name}}</div>
          <button (click)="useAction(action.id, action.requireInput)" class="btn btn-outline-secondary d-flex p-0 mx-1 my-auto"><mat-icon>play_arrow</mat-icon></button>
        </div>
      </ng-container>

      <ng-container *ngIf="mode=='dictionary'">
        <div *ngFor="let action of definitionsByCategory.get(category.id)" class="list-item-dictionary">
          <div>{{action.text}}</div>
          <div class="d-flex justify-content-center overflow-hidden">
            <div>{{action.formula}}</div>
            <button (click)="useAction(action.id)" class="btn btn-outline-secondary d-flex p-0 mx-2 my-auto"><mat-icon>file_copy</mat-icon></button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
