@import "/src/assets/variables.scss";
@import "bootstrap";

.list-body {
  width: 100%;
  max-height: 65%;
  overflow-y: auto;
  overflow-x: hidden;
}
.list-body::-webkit-scrollbar {
  display: none;
}
.category {
  color: $textColor;
  font-size:20px;
  font-family: monospace;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.category > mat-icon {
  margin-right: 5px;
}
.category:hover > mat-icon {
  background-color: tint-color($primary, $btn-hover-bg-shade-amount);
  border-radius: 15px;
}
.list-item-intercation {
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item-dictionary {
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
}