@import "/src/assets/variables.scss";

.category {
  color: $textColor;
  font-size:20px;
  font-family: monospace;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.category > mat-icon {
  margin-right: 5px;
}
.category:hover > mat-icon {
  background-color: azure;
  border-radius: 15px;
}
.list-item-intercation {
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item-dictionary {
  margin-left: 25px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
}