$primary: #bbddd4;
@import "bootstrap";

:host {
  font-family: monospace;
}
.all {
 width: 100%;
 border-radius: 10px;
//  @extend .rounded;
 @extend .bg-light;
}
.head {
  padding: 10px 0px 0px 30px;
  background-color: #bbddd4;
}
.body {
  @extend .mt-4;
  @extend .p-2;
}
.finput {
  width: 100%;
  min-width: 600px;
  font-size: 22px;

  border: none;
  border-bottom: 2px solid #777777;
  background-color: #f8f9fa;
  outline: 0;
}
.finput:focus {
  background-color: #0d6dfd10;
}