@import "/src/assets/variables.scss";

span {
  color: var(--text-color);

  font-family: monospace;
}

mat-icon {
  color: var(--text-color);
}

div.mat-mdc-menu-content {
    background-color: var(--background-color-2);
}
