@import "bootstrap";

.dictionary-card {
    color: var(--text-color);

    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    background-color: var(--background-color-primary);
    overflow: auto;

    @extend .p-4;
    @extend .h-100;
    @extend .shadow-lg;
}

hr {
    border-color: azure;
    border-width: 5px;
}
