@import "/src/assets/variables.scss";
@import "bootstrap";

.dictionary-card {
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  background-color: $primary;
  
  @extend .p-4;
  @extend .h-100;
  @extend .shadow-lg;
}

#dictionary {
  font-family: monospace;
  color: $textColor;
}
hr {
  border-color: azure;
  border-width: 5px;
}