$primary: #bbddd4;

@import "bootstrap";

.interaction-card {
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  background-color: #bbddd4;
  overflow: hidden;
  
  @extend .p-4;
  @extend .h-100;
  @extend .shadow-lg;
}

#interaction {
  font-family: monospace;
}

.btn-row {
  display: flex;
  flex-direction: column;
}

.btn-row > button, .btn-row > div > button{
  margin-top: 10px;
  font-family: monospace;
  @extend .btn;
  @extend .btn-secondary;
}

#input, #output {
  display: flex;
  align-items: center;
  min-height: 30px;
  margin-top: 10px;
  background-color: antiquewhite;
}

hr {
  border-color: azure;
  border-width: 5px;
}