@import "/src/assets/variables.scss";
@import "bootstrap";

.interaction-card {
  color: var(--text-color);

  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  background-color: var(--background-color-primary);
  overflow: hidden;

  @extend .p-4;
  @extend .h-100;
  @extend .shadow-lg;
}

hr {
  border-color: azure;
  border-width: 5px;
}
#input, #output {
  color: var(--bs-gray-700);

  @extend .p-2;
  @extend .rounded;
  @extend .overflow-hidden;

  line-height: 60px;
  font-size: 18px;
  min-height: 60px;
  margin-top: 10px;
  background-color: antiquewhite;
}
.btn-row {
    display: flex;
    justify-content: end;
    padding-left: 0.25rem;
    margin: 0.5rem 0;

  & > button{
    display: flex;
    padding: 0;
    margin: auto 0.25rem;
    border: none;
  }
}

mat-icon {
  color: var(--text-color);
}
