<div id="interaction" class="pe-2 h-100">
  <div class="interaction-card">
    
    <h2 class="d-flex justify-content-end">Interaction</h2>
    <hr>
    
    <div id="input">
      <div *ngFor="let line of lines">
        {{line ? line.line : ''}}
      </div>
    </div>
    <div id="output">
      <div *ngFor="let formula of preview">
        {{formula ? "$"+formula.toTex()+"$" : ''}}
      </div>
    </div>
    <div class="btn-row">
      <button type="button" (click)="addOutputToLines()">add to lines</button>
    </div>
    <app-list [mode]="'interaction'" (ActionSelected)="useTemplate($event)"></app-list>
  </div>
</div>