<div class="px-2 w-100" style="height: 80%;" (paste)="paste()">

  <div class="w-100 mt-5">
    <div class="btn-row">
      <button type="button" (click)="interactionToggle()">Interaction</button>
      <div>
        <button type="button" (click)="newLineInput('formula')">Add furmula</button>
        <button type="button" (click)="newLineInput('text')">Add text</button>
        <button type="button" (click)="clear()">Clear</button>
      </div>
      <button type="button" (click)="dictionaryToggle()" disabled>Dictionary</button>
    </div>
  </div>

  <div class="canvas-body">
    <div class="d-flex justify-content-between" style="margin-top: -10px; margin-right: -10px;">
      <div class="w-100 pe-1">
        <input type="text" placeholder="Title" class="title-input"  [(ngModel)]="title">
      </div>
      <app-save-open [lines]="lines" [title]="title" (openEvent)="linesFromFile($event)"></app-save-open>
    </div>
    <div id="capture" cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let line of lines; index as i">
        <div [id]="line.id" cdkDrag class="d-flex justify-content-between p-1">
          <app-canvas-line [line]="line"></app-canvas-line>
          <div class="line-buttons">
            <button (click)="copyFunction(i)">
              <mat-icon aria-hidden="false" fontIcon="file_copy"></mat-icon>
            </button>
            <button (click)="editFunction(i)">
              <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
            </button>
            <button (click)="deleteFunction(i)">
              <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
            </button>
            <mat-icon aria-hidden="false" fontIcon="drag_indicator" cdkDragHandle class="drag-icon ms-2 my-auto"></mat-icon>
          </div>
        </div>
        <hr>
      </ng-container>
    </div>
  </div>
</div>
