@import "bootstrap";

// classes for html elements
hr {
    opacity: 0.1;
    border-style: dashed;
    @extend .my-0;
  }

// buttons on the top
.btn-row {
  display: flex;
  justify-content: space-between;

  & > button, & > div > button {
    margin: 0px 10px;
    font-family: monospace;
    @extend .shadow;
  }
}

// canvas' objects
.canvas-body {
  max-height: 100%;
  font-family: monospace;
  background-color: var(--background-color-2);
  @extend .w-100;
  @extend .mt-3;
  @extend .rounded;
  @extend .shadow;
  @extend .p-3;
  @extend .overflow-y-auto;
}

.title-input {
  color: var(--text-color);
  background-color: var(--background-color-2);
  border: none;
  margin-top: 10px;
  width: 100%;

  &::placeholder {
    color: var(--text-color);
    opacity: 0.7;
  }
}

.line-buttons {
  display: flex;

  & > button { // btn btn-outline-secondary d-flex p-0 mx-1 my-auto border-0
    color: var(--text-color);
    display: flex;
    padding: 0;
    @extend .btn;
    @extend .btn-outline-secondary;
    @extend .mx-1;
    @extend .my-auto;
    @extend .border-0;
  }
}

#capture {
    color: var(--text-color)
}

// drag and drop classes
.drag-item {
  color:#6c757d; //TODO: create variable
}

.cdk-drag-preview {
  color: var(--text-color);
  font-family: monospace;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-icon:hover {
  cursor: move;
}

// MJXoverrides
:host ::ng-deep mjx-container .in-function > [space="2"] {
  margin-left: 0
}

:host ::ng-deep mjx-container span {
  display: inline-block;
}

:host ::ng-deep mjx-container .selected {
  background-color: var(--formula-selection);
}

:host ::ng-deep mjx-container mjx-math {
  white-space: normal;
}

:host ::ng-deep .line-formula mjx-container {
  font-size: 150%!important;
}

:host ::ng-deep mjx-root {
  position: absolute;
}