<div class="mt-3">
    <div class="col-12 d-flex flex-wrap my-1">
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('\\sqrt')">\sqrt</button></div>
        <div class="col-4 p-1"><button class="button w-100" (click)="addElement('\\sqrt[]{}')">\sqrt[]</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('gg wp')">gg wp</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('6')">6</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('2')">2</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('8')">8</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('4')">4</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('9')">9</button></div>
        <div class="col-2 p-1"><button class="button w-100" (click)="addElement('6')">6</button></div>
        <div class="col-3 p-1"><button class="button w-100" (click)="addElement('8')">8</button></div>
        <div class="col-3 p-1"><button class="button w-100" (click)="addElement('1')">1</button></div>
        <div class="col-5 p-1"><button class="button w-100" (click)="addElement('2')">2</button></div>
        <div class="col-1 p-1"><button class="button w-100" (click)="addElement('8')">8</button></div>
    </div>
</div>

<div class="overflow">
    <ng-container *ngFor="let layout of keyboardLayouts; index as i" >
        <input type="radio" class="btn-check" id="option-{{i}}" (click)="keyboardIndex = i" [checked]="keyboardIndex == i">
        <label class="button m-1 p-1" for="option-{{i}}">
            <!-- <mat-icon>{{layout.icon}}</mat-icon> -->
            {{layout.name}}
        </label>
    </ng-container>
</div>

<app-keyboard-layout [keys]="keyboardLayouts[keyboardIndex].keys" [shift]="shift" (onClick)="addElement($event)"></app-keyboard-layout>

<div>
    <button class="button m-1" (click)="shiftToggle()">Shift ({{shift}})</button>
    <button class="button m-1" (click)="shiftHoldToggle()">Hold shift ({{shiftHold ? 1 : 0}})</button>
    <button class="button m-1" (click)="clear()">Clear</button>
</div>
