@import "bootstrap";

.btn-row > button {
  margin: 0px 10px;
  font-family: monospace;
}
#body {
  min-height: 200px;
  font-family: monospace;
}
#body > input{
  border: none;
  background: transparent;
  outline: 0;
  @extend .w-100;
}
.w-0 {
  width: 0%;
  overflow: hidden;
}

#test {
  transition: margin 1s;
}

#dictionary {
  
  transition: width 1s;
  animation-direction: reverse;
}
#invisible-div {
  transition: width 1s;
}