<div class="h-100 overflow-hidden">
  <div class="h-100 d-flex bg-light">
    <div class="col-8 px-2" id="test" [ngClass]="{'offset-2': !dictionaryFlag, 'offset-1 ': dictionaryFlag}"> 
      <div class="w-100 mt-5" id="head">
        <div class="btn-row" id="btn-row">
          <button type="button" class="btn btn-primary" (click)="openAddFunction()">Add furmula</button>
          <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
          <button type="button" class="btn btn-primary" (click)="dictionaryToggle()">Dictionary</button>
        </div>
      </div>
      <div class="w-100 mt-3 rounded bg-white shadow p-3" id="body">
        Start here! <br>
        <div id="render" cdkDropList (cdkDropListDropped)="drop($event)">
          <ng-container *ngFor="let line of  lines; index as i">
            <div [id]="i" cdkDrag class="d-flex justify-content-between bg-white p-1">
              <div class="my-auto">
                {{line}}
              </div>
              <div class="d-flex">
                <button class="btn btn-outline-secondary d-flex p-0 mx-1" (click)="copyFunction(i)">
                  <mat-icon aria-hidden="false" fontIcon="file_copy"></mat-icon>
                </button>
                <button class="btn btn-outline-secondary d-flex p-0" (click)="deleteFunction(i)">
                  <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
                </button>
                <mat-icon aria-hidden="false" fontIcon="drag_indicator" cdkDragHandle class="drag-icon ms-2 my-auto"></mat-icon>
              </div>
            </div>
          </ng-container>
        </div>
        

          <div id="test" (mouseover)="selection($event)" (mouseout)="selection($event)" (mousedown)="clickSelection($event)" (mouseup)="clickSelection($event)">
            \(px^2 + qx + r = 0\)
          </div>
          <div>template: {{template}}</div>
          <div>formula: {{formula}}</div>
          <div>result: {{result}}</div>
      </div>
    </div>

    <div id="invisible-div" [ngClass]="{'col-2': !dictionaryFlag, 'w-0': dictionaryFlag}"></div>

    <div id="dictionary" [ngClass]="{'w-0': !dictionaryFlag, 'col-3': dictionaryFlag}" class="ps-2 h-100">
      <div class="dictionary-card">
        Dictionary
        <ng-container *ngFor="let line of  lines; index as i">
            <div [id]="i">
              {{line}}
            </div>
          </ng-container>
      </div>
    </div>
  
  </div>
</div>