<div class="h-100 w-100" style="overflow-x: hidden;">
  <div class="h-100 d-flex bg-light">

    <app-interaction id="interaction" (ActionEvent)="this.newCanvasFormula = $event"
        [ngClass]="{'w-0': !interaction, 'col-3': interaction}"></app-interaction>
    
    <div id="invisible-div" [ngClass]="{'col-2': !interaction, 'w-0': interaction}"></div>

    <app-math-canvas id="canvas" class=""
        [ngClass]="{'col-8': !dictionary && !interaction,'col-7': dictionary ? !interaction : interaction, 'col-6': dictionary && interaction}"
        (dictionaryEvent)="dictionaryToggle($event)"
        (interactionEvent)="interactionToggle($event)"
        [newFormula]="newCanvasFormula"></app-math-canvas>

    <div id="invisible-div" [ngClass]="{'col-2': !dictionary, 'w-0': dictionary}"></div>

    <app-dictionary id="dictionary" [ngClass]="{'w-0': !dictionary, 'col-3': dictionary}"></app-dictionary>
  
  </div>
</div>