$primary: #bbddd4;

@import "bootstrap";

.w-0 {
  width: 0%;
  overflow: hidden;
}

#canvas {
  transition: width 1s;
}
#dictionary {
  transition: width 1s;
}
#interaction {
  transition: width 1s;
}
#invisible-div {
  transition: width 1s;
}