/* You can add global styles to this file, and also import other style files */
@import "bootstrap";
@import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs5-alert';

html, body {
  height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// MJXoverrides
mjx-container .in-function > [space="2"] {
  margin-left: 0
}

mjx-container span {
  display: inline-block;
}

mjx-container .selected {
  background-color: #bcf3fa;
}