@import "/src/assets/variables.scss";
@import "bootstrap";


.adding-modal {
  color: var(--text-color);
  background-color: var(--background-color-2);

  width: 80vw;
  border-radius: 10px;
  font-family: monospace;
}

.text-modal {
  max-width: 800px;
}

.formula-modal {
  max-width: 500px;
}

.modal-head {
  color: var(--text-color);
  padding: 10px 30px 5px 30px;
  background-color: var(--background-color-primary);
}

.form-control {
  background-color: var(--background-color-2);
  color: var(--text-color);
}

textarea.math-field {
  resize: none;
  height: 150px;
  width: 100%;

  &:focus {
    color: var(--text-color);
    background-color: var(--background-color-2);
    border-color: var(--bs-border-color);
  }
}

.form-control:has(.mq-editable-field.mq-focused) {
  outline: 0;
  box-shadow: $input-focus-box-shadow;
}

:host {
  font-family: monospace;
}

:host ::ng-deep .mq-editable-field {
  border: none;
}

:host ::ng-deep .mq-editable-field.mq-focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: none;
}

:host ::ng-deep .mq-cursor {
  border-left-color: var(--text-color);
}

h1 {
  margin-bottom: 0;
}

span {
    color: var(--text-color);
}