@import "/src/assets/variables.scss";
@import "bootstrap";

.adding-modal {
  color: var(--text-color);
  background-color: var(--background-color-2);

  width: 80vw;
  max-width: 500px;
  border-radius: 10px;
  //  @extend .rounded;
}

.modal-head {
  color: var(--bs-gray-200);
  padding: 10px 30px 5px 30px;
  background-color: $primary;
}

h1 {
  margin-bottom: 0;
}

span {
    color: var(--text-color);
}

.form-control:has(.mq-editable-field.mq-focused) {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  outline: 0;
  @if $enable-shadows {
    @include box-shadow($input-box-shadow, $input-focus-box-shadow);
  } @else {
    // Avoid using mixin so we can pass custom focus shadow properly
    box-shadow: $input-focus-box-shadow;
  }
}

:host {
  font-family: monospace;
}

:host ::ng-deep .mq-editable-field {
  border: none;
}

:host ::ng-deep .mq-editable-field.mq-focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: none;
}
