<div class="adding-modal formula-modal">
  <div class="modal-head">
    <h1>Enter Formula</h1>
  </div>
  <div class="p-3 ">
    <div class="mb-4">
      <div class="formula-description">
        <p>{{description}}</p>
      </div>
      <!-- <input type="text" class="finput" [(ngModel)]="formula" (keyup.enter)="add()"> -->
      <div>
        <!-- <label for="math-field" class="form-label">Enter formula</label> -->
        <div class="form-control" (keyup.enter)="add()"><span class="w-100" id="math-field"></span></div>
      </div>
    </div>

    <app-keyboard (elementAdded)="getNewElement($event)" (clearCmd)="clear()"></app-keyboard>

    <div class="d-flex mt-3 justify-content-end">
      <button class="button me-2" (click)="add()">Add</button>
      <button class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>
</div>
