<div id="adding-modal">
  <div class="head">
    <h1>Add Formula</h1>
  </div>
  <div class="body p-3">
    <div>
      <!-- <input type="text" class="finput" [(ngModel)]="formula" (keyup.enter)="add()"> -->
      <div>
        <label for="math-field" class="form-label">Enter formula</label>
        <span class="form-control" (keyup.enter)="add()"><span id="math-field"></span></span>
      </div>
    </div>
    <div class="d-flex mt-3 justify-content-end">
      <button class="btn btn-primary me-2" (click)="add()">Add</button>
      <button class="btn btn-secondary" (click)="close()">Close</button>
    </div>
  </div>
</div>